* {box-sizing: border-box}
.piano {height: 100%;list-style: none;margin: 0; padding: 0;position: fixed; bottom: 0;}
.note {background: #fff;border: 1px solid #ccc; display: block; float: left; height: 100%;width: 100px;}
.sharp {
  background: #000;
  width: 50px;
  position: relative;
  height: 50%;
  margin-left: -25px;
  margin-right: -25px;
}


@keyframes activeNote {
  0% {background-color: #f00;}
  33% {background-color: #0f0;}
  66% {background-color: #00f;}
  100% {background-color: #f00;}
}

.active {animation: activeNote 5s infinite;}

/* Low octaves */
.note[data-octave="0"],
.note[data-octave="1"],
.note[data-octave="2"],
.note[data-octave="3"] {display: none;}

/* Higher octaves */
.note[data-octave="6"],
.note[data-octave="7"],
.note[data-octave="8"] {display: none;}

